html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#app {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background: black;
  object-fit: contain;
}

#app:focus {
  outline: none;
  box-shadow: none;
}